bazel-*
.DS_Store
*~
team-chant-compiler.vcxproj.user
team-chant-compiler.sln
team-chant-compiler.vcxproj
team-chant-compiler.vcxproj.filters
.vs/
debug/
Debug/team-chant-compiler.vcxprojResolveAssemblyReference.cache
Debug/team-chant-compiler.log
gtest.BUILD
.bazelrc
